.card {
        position: relative;
        padding: 56px 30px 30px 30px;
        box-sizing: border-box; 
     img {
        border-radius: 10px ;
        width: 340px;
        height: 340px;
    }
        .card-title {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            position: absolute; 
            bottom: 50px; 
            left: 53px; 
            color: #FFFFFF;
        }
}