.logements {
    width: 100%;
    height: auto;

    background-color: #F6F6F6;
    margin-top: 43px;
    border-radius: 20px;
    margin-bottom: 50px;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start; 
  
}

@media screen and (max-width : 768px) {
   .logements{
    width: 100%;
    background-color: white;
    margin-top: 10px;

   }

   

}