@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    
    justify-content: center;
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    color:  #FF6060;
    margin: 0 0 139px 0;
    }
  h2{
    margin: 0 0 139px 0;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;

       
  }
 a{
    margin: 0 0 139px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: black;
        
}
}